---
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { formatBlogPosts } from "../../lib/utils";

const allPosts = await Astro.glob("./*.md");
const formatedPosts = formatBlogPosts(allPosts);
---

<MainLayout>
  <section class="container" aria-label="New Blog Post">
    <h1 class="h1">New Blog Posts ✨</h1>
    <div class="post-container">
      {
        formatedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
