---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Homepage!" desc="This is my cool new Astro Blog">
  <h1>Astro Blogs Are Cool!</h1>
  <p>
    Will this be more fun to make blogs with rather than NextJS? I guess we
    shall have to see.
  </p>
</MainLayout>
