---
import { getCollection } from "astro:content";

import { slugify } from "@lib/utils";

const allBlogPosts = await getCollection("blog", ({ data }) => {
  return data.draft != true;
});
const allCategories = allBlogPosts
  .map((cat) => cat.data.category.toLowerCase())
  .flat();

type CategoryCounts = {
  [key: string]: number;
};

const processedCats = allCategories.reduce<CategoryCounts>((acc, category) => {
  const value = acc[category] || 0;
  return {
    ...acc,
    [category]: value + 1,
  };
}, {});

interface Props {
  showCount: boolean;
}

const { showCount } = Astro.props;
---

<ul class="categories">
  {
    Object.entries(processedCats).map(([key, val]) => (
      <li>
        <a href={`/category/${slugify(key)}`} class="badge">
          {key} {showCount && `(${val})`}
        </a>
      </li>
    ))
  }
</ul>
