---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import type { Head } from "../components/MainHead.astro";
import "../styles/global.css";
import Nav from "../components/Nav.astro";

const { title, desc } = Astro.props as Head;
---

<html lang="en">
  <MainHead {title} {desc} />
  <body>
    <Nav />
    <slot>Default Text</slot>
    <Footer />
  </body>
</html>
