---
import MainHead from "../components/MainHead.astro";
import type { Head } from "../components/MainHead.astro";

const { title, desc } = Astro.props as Head;
---

<html lang="en">
  <MainHead {title} {desc} />
  <body>
    <slot>Default Text</slot>
  </body>
</html>
