---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Nav from "../components/Nav.astro";

interface Props {
  title?: string;
  desc?: string;
}

const { title = "My Astro Blog", desc = "My Musings about Astro" } =
  Astro.props;
---

<html lang="en">
  <MainHead {title} {desc} />
  <body>
    <Nav />
    <main>
      <slot>Default Text</slot>
    </main>
    <Footer />
  </body>
</html>
